<div class="text-center">
  <h2>{{blog.title}}</h2>
  <p>{{blog.content}}</p>
  <p>Created by {{user.name}} on {{format_date blog.date_created}}</p>
</div>

{{#if logged_in}}
<div class="comment-container">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
    <div class="form-row">
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input  form-control" />
    </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comments blog.comments}}
  <script src="/js/comment.js"></script>